# Domain
# This would be set to the production domain with an env var on deployment
DOMAIN=localhost

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="Langfarm-Tracing"
STACK_NAME=langfarm-tracing

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:8000,https://localhost,https://localhost:8000"
SECRET_KEY=changethis
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis

# Emails
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=info@example.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ECHO_SQL=false

SENTRY_DSN=

# Configure these with your own Docker registry images
DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend


# Langfuse
# salt 跟 langfuse 设置的一样。
SALT="mysalt"
# Cache configuration
# LANGFUSE_CACHE_API_KEY_ENABLED=true
# LANGFUSE_CACHE_API_KEY_TTL_SECONDS=600
# LANGFUSE_CACHE_PROMPT_ENABLED=
# LANGFUSE_CACHE_PROMPT_TTL_SECONDS=

# kafka
KAFKA_BOOTSTRAP_SERVERS=kafka0:29092
KAFKA_SCHEMA_REGISTRY_URL=http://localhost:8085

# for test
# 修改成本地测试环境的 langfuse pk/sk
LANGFUSE_SECRET_KEY=sk-lf-xxx
LANGFUSE_PUBLIC_KEY=pk-lf-xxx
